<h3>Detalles del Cliente</h3>
<div>
  <div>
    <label><b>Id :</b> {{cliente.id }}</label>
    <div>
        <label><b>Id Cliente:</b> {{cliente.id_cliente }}</label>
    </div>
    <div>
        <label><b>Id Categoria :</b> {{cliente.id_categoria }}</label>
    </div>
    <div>
      <label><b>Nombres :</b> {{cliente.nombre }}</label>
    </div>
    <div>
      <label><b>Telefono 1 :</b> {{cliente.telefono1 }}</label>
    </div>
    <div>
     <label><b>Telefono 2 :</b> {{cliente.telefono2 }}</label>
    </div>
    <div>
      <label><b>Direccion :</b> {{cliente.direccion }}</label>
    </div>
    <div>
      <label><b>Ciudad :</b> {{cliente.ciudad }}</label>
    </div>
    <div>
      <label><b>Pais :</b> {{cliente.pais}}</label>
    </div>
</div>
